
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
 background-image: url(./bg.jpg);
 background-position: top center;
 background-size: 100% auto;
 background-repeat: no-repeat;
 background-color:  #121214;

}

body {
font-family: "Inter";
line-height: 160%;
}


ul {
  list-style: none;
}

 header {
  padding-top:  32px;
  text-align: center;

 }

header img {
  width: 120px;
  border-radius: 50%;
  border: 4px solid mediumslateblue
}

header div {
  transition: transform .3s;
}

header div:hover {
  transform: scale(1.1)
}

main {
  max-width: 580px;
  width: 90%;
  margin:  32px auto;

  display: flex;
  flex-direction: column;
  gap: 24px;
}

section {
  color: white;
}

section div {
  background-color: #2A2634;
  padding: 32px;
  padding-top: 24px;
  border-radius: 8px;

  border-top: 4px solid mediumslateblue;
}

section h2 {
font-size: 16px;
letter-spacing: -0.18px;
}

section p {
  letter-spacing: -0,18px;
  color: #A1A1AA
}

section ul {
  display: flex;
  gap: 16px;
  margin-top: 24px;
  flex-wrap: wrap;
}

section ul li {
transition: transform .3s;
}

section ul li:hover{ 
transition: transform: scale (1.1)

}


.music-list img {
  width: 90px;
  border-radius: 50%;

}

.serie-list img {
  width: 90px;
  border-radius: 8px;
}